#{extends 'main.html' /}
#{set title:'Things | Main' /}


    <div class="row">
      <div class="large-11 columns">
        <h1>Welcome to <b>Things</b></h1>
      </div>
      <div class="large-1 columns">
        <a href="#"> 
#{if username} 
  ${username}
#{/if}
#{else}
<a href="login">Login&nbsp;or&nbsp;Register&nbsp;now</a>
#{/else}
</a>
      </div>
    </div>    

#{form @Application.addThing()}
  <div class="row collapse">
    <div class="small-2 large-1 columns">
      <span class="prefix">Things:</span>
    </div>
    <div class="small-9 large-10 columns">
      <input type="text" name="title" placeholder="Enter your thing...">
    </div>
    <div class="small-1 large-1 columns">
          <input type="submit" class="button postfix" value="Go" />
    </div>
  </div>
#{/form}  



#{if taskList}
	#{list items:taskList, as:'task'}
	<div class="row collapse">
      <div class="large-12 medium-12 columns">
        <div class="callout panel">
          <p>"${task.title}"</p>
          <p>${task.content}</p>
          --
          <p>${task.createdBy.fullname}@${task.createdOn}</p>
        </div>
      </div>
  	</div>
	#{/list}
#{/if}
#{else}
	<div class="row">
	  <div class="large-12 columns">
	    <H2>You don't have any task.</H2>
	  </div>
	</div> 
#{/else}