#{extends 'main.html' /}
#{set title:'Things | Login' /}


<div class="row">
      <div class="large-12 columns">
        <h1>Login to <strong>Things</strong></h1>
      </div>
</div>    


<form>
    <div class="row collapse">
      <div class="large-6 columns">
        <div class="panel">
          <div class="row">
            <div class="large-12 columns">
              <label>Email</label>
              <input type="text" placeholder="large-12.columns" />
            </div>
          </div>

          <div class="row">
            <div class="large-12 columns error">
              <label>Password</label>
              <input type="text" placeholder="large-12.columns" />
              <small>Invalid entry</small>
            </div>
          </div>

          <div class="row">
            <div class="large-12 columns error">
              <a href="#" class="button">Login</a>
            </div>
          </div>

        </div>
      </div>
    </div>

</form>