<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="${_response_encoding}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>#{get 'title' /}</title>
    <link rel="stylesheet" href="@{'/public/stylesheets/foundation.css'}" />
    <script src="@{'/public/javascripts/modernizr.js'}"></script>
  </head>
  <body>
        #{doLayout /}
        
    <script src="@{'/public/javascripts/jquery.js'}"></script>
    <script src="@{'/public/javascripts/foundation.min.js'}"></script>

    <script>
      $(document).foundation();
    </script>
    
    </body>
</html>